.parent{
    width: 500px;
    border: 1px solid red;
}
.c1{
    background-color: powderblue;
    position: absolute;
    top: 500px;
    left: 500px;
    width: 100px;
    height: 100px;
}
.c2{
    position: relative;
    background-color: royalblue;
    left: 500px;
    top: 500px;
    height: 100px;
    width: 100px;
}
.c3{
    position: static;
    background-color: sienna;
    width: 100px;
    height: 100px;
}
.c4{
    position: fixed;
    height: 100px;
    width: 100px;
    background-color: slateblue;
    top: 400px;
    left: 400px;
}
